<% if @list.errors.any? %>
  <h5>Errors:</h5>
  <p><%= @list.errors.messages.values.join(' ,') %></p>
  <hr />
<% end %>

<%= form_for @list do |f| %>
 <%= f.label :name %>
 <%= f.text_field :name %>
 <br />
 <%= f.submit 'Edit List' %>
<% end %>